html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-size: 14px;
    margin: 0;
    font-family: "Arial";
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.menu {
    color: #f00;
    font: bold 12px/18px sans-serif;
    text-align: center;
    display: inline;
    margin: 0% auto;
    padding: 0;
    list-style: none;
    text-decoration: none;

}
.menu li {
    color: #000;
    background-color: rgba(255,255,255,1);
    display: inline-block;
    margin: 0% auto;
    position: relative;
    padding: 15px 4%;
    border: 1px solid #9D9FA2;
    box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.5);
    border-radius: 6px;

    cursor: pointer;
    transition-property: background-color #052136;
    transition-duration: .4s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
}
.head-main {
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0, 9);
    font-variant: small-caps;
    color: rgb(31, 28, 28);
    letter-spacing: 5pt;
    word-spacing: 21pt;
    font-size: 4.5em;
    text-align: center;
    font-family: Impact, sans-serif;
    line-height: 2;
    font-weight: 900;
    border: 5px double rgb(241, 16, 16);
    padding: 10px;
}
.head-sub-main {
    font-size: 23px;
    font-weight: 500;
    padding: 50px 20px 10px 20px;
    text-transform: uppercase;   
}
.head-last {
    font-size: 10px;
    font-weight: 900;
    padding: 5px 20px 20px 20px;
    border: 1px dotted rgb(36, 184, 44);
    padding: 5px;
}